footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(86,100,54,65%); 
    height: 175px;
    padding-top: 2em;
    padding-bottom: 0;  
}

#footer_quote {
   font-family:  cardenio-modern ,Helvetica,Arial,sans-serif; 
   color: white;
}

.btn_volunteer {
    background-color: #a2b761;
    margin-right: 10px;
}

.btn_buy_me {
    background-color: #a2b761;
}
