.img_items_admin {
    height: 28em;
    width: auto;
}

.card_body_items {
    height: 20em;
    width: auto;

}

.space_above_content {
    height: 7em;
}

.space_under_content {
    height: 13em;
}

.bg-overlay {
    background-color: rgba(86,100,54,65%); 
}

.img_items {
	transition: all 1s;
    height: 28em;
    width: auto;
}

.img_items:hover {
	transform: scale(1.05);
}

.link_show_product {
    /* position: fixed; */
    bottom: 0;
    right: 0;
}