.wrapper {
    column-count: 3;
    column-gap: 50px;
    padding: 20px;
  }
  
.myimage {
  float:left;
  width: 100%;
  shape-margin:20px;
  margin-right: 30px;
  margin-bottom: 20px;
  border-radius: 1%;
}

.bg_section_volunteer {
    background-color: #8e8f5c;
}

.w3-animate-left {
  position: relative;
  animation: animateleft 3s;
}

.w3-animate-right {
  position: relative;
  animation: animateright 3s;
}